<div class="main-body">
  <div class="panel-busqueda">

    <div class="barraBusqueda">
      <input
        type="text"
        class="panelBusqueda-input"
        [(ngModel)]="busqueda"
        (ngModelChange)="filtrarProducto()"
        (click)="filtrarProducto()"
        placeholder="busca un producto"
        autocomplete="off"
      />
      <div class="autocomplete-container" *ngIf="showProductoContainer">
        <div
          class="autocomplete-option"
          *ngFor="let nombre of filtrados"
          (click)="seleccionarOpcion(nombre)"
        >
          {{ nombre }}
        </div>
      </div>
    </div>

    <button class="busqueda lupa" (click)="presentarProd()">
      <img src="./assets/img/busqueda.webp" alt="busqueda" />
    </button>
    <button class="busqueda" (click)="agregarNuevoProd()">
      <img src="./assets/svg/plus.svg" alt="busqueda" />
    </button>
    <div class="carrito-container">
      <div class="carrito">
        <a routerLink="/facturar">
          <img src="./assets/img/logo.webp" alt="carrito" />
        </a>
        <span>{{ number }}</span>
      </div>
    </div>
  </div>
  <div class="panel-info">
    <div class="producto">
      <div *ngIf="item.img; else default">
        <img [src]="item.img" alt="producto" />
      </div>
      <ng-template #default>
        <img src="./assets/img/noItems.webp" alt="notFound" />
      </ng-template>
    </div>
    <div class="info">
      <div>
        <h2>{{ item.nombre }}</h2>
        <h3>{{ item.precio | currency : "$" }}</h3>
        <div class="iva-condition" *ngIf="item.iva > 0">
          <p>+</p>
          <h3>{{ item.iva / 100 | percent }}</h3>
          <p class="total">
            =<span>{{ item.total | currency : "$" }}</span>
          </p>
        </div>
        <p>{{ item.descripcion }}</p>
      </div>
      <div class="agregar">
        <button (click)="agregarProdCarrito()">Agregar Producto</button>
      </div>
    </div>
  </div>
</div>

<app-crear-producto
  *ngIf="showCrearProducto"
  (closeModal)="cerrarNuevoProd($event)"
></app-crear-producto>
