<div class="modal-backdrop"></div>
<div class="modal-main">
  <div class="modal-header">
    <h4 class="header-title">¡Compra exitosa!</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="closeModal.emit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <div class="custom-modal-body">
      <img src="./assets/svg/success.svg" alt="Success">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="closeModal.emit()">Aceptar</button>
  </div>
</div>

