header {
  background-color: rgb(161, 196, 196);
  font-size: 2.2rem;
  display: flex;
  flex-direction: row;
}
.section-logo {
  height: auto;
  margin: 5px 0 5px 35px;
}
.section-logo img {
  width: 40px;
}
.title {
  text-align: center;
  flex-grow: 1;
}
.title h3 {
  font-weight: 700;
  margin: 15px 60px 0 0;
}
