header {
  background-color: rgb(161, 196, 196);
  font-size: 2.2rem;
  display: flex;
  flex-direction: row;
}
.section-logo {
  height: auto;
  margin: 10px 0 0 35px;
}
.section-logo img {
  width: 50px;
}
.title {
  text-align: center;
  flex-grow: 1;
}
.title h3 {
  margin: 20px 50px 0 0;
}
