<div class="retorno-home">
  <a routerLink="/home">{{ "<<< Seguir comprando" }}</a>
</div>

<main class="factura-list">
  <h4>Facturar a:</h4>
  <form class="grid-container" [formGroup]="clienteForm">
    <div class="grid-container cabecera">
      <div class="grid-container titulos">
        <label for="nombre">Nombre:</label>
        <label for="identificacion">Identificación:</label>
        <label for="celular">Celular:</label>
        <label for="ubicacion">Ubicación:</label>
      </div>
      <div class="grid-container inputs">
        <input
          type="text"
          id="nombre"
          name="nombre"
          formControlName="nombre"
        />
        <input
          type="text"
          id="identificacion"
          name="identificacion"
          formControlName="identificacion"
        />
        <input
          type="text"
          id="celular"
          name="celular"
          formControlName="celular"
        />
        <input
          type="text"
          id="ubicacion"
          name="ubicacion"
          formControlName="ubicacion"
        />
      </div>
    </div>
    <button class="busqueda" (click)="buscarCliente()">
      <img src="./assets/img/busqueda.webp" alt="busqueda" />
    </button>
  </form>

  <table class="table table-striped">
    <thead class="table-head">
      <tr>
        <th id="check">check</th>
        <th class="producto" id="negrita">Producto</th>
        <th class="cantidad" id="negrita">Cantidad</th>
        <th id="negrita">Precio</th>
        <th id="negrita">Total</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let producto of productos; index as i">
        <td id="check">
          <button class="remove-btn" (click)="rmProduct(i)">
            <img src="./assets/svg/close.svg" alt="Eliminar" />
          </button>
        </td>
        <td class="producto">{{ producto.nombre }}</td>
        <td class="cantidad">
          <input
            type="number"
            [(ngModel)]="producto.cantidad"
            name="cantidad"
            (ngModelChange)="actualizarTotal()"
          />
        </td>
        <td>{{ producto.precio | currency : "$" }}</td>
        <td>{{ producto.cantidad * producto.total | currency : "$" }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4" id="negrita">Total</th>
        <th>{{ total | currency : "$" }}</th>
      </tr>
    </tfoot>
  </table>

  <button class="comprar-btn" (click)="comprarProducto()">Comprar</button>
</main>

<app-success-modal
  *ngIf="showSuccessModal"
  (closeModal)="cerrarModal()"
  [factura]="factura"
></app-success-modal>
